<!DOCTYPE html>
 <html> 
  <head>
    <title>WhatsOnYourFeet</title>
    <style>

    h1 {
    font-size: 36px;
    text-align: center;
  }

    .form {
      background-color: #66CDAA;
      border-radius: 25px
    }

    #username {
      text-align: center;
    }

    #password {
      text-align: center;
    }

    form {
      text-align: center;
    }

    img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 75%;
    }

    </style>
  </head>
<div class="form">
<br>
<br>
<h1>Sign up to get your sneaker collection started!</h1>
<br>
<br>
<br>
<br>
<form action="/signup" method="post">
  <label for="username"><b>User Name</b></label>
  <input type="text" name="username" id="username">
  <label for="password"><b>Password</b></label>
  <input type="password" name="password" id="password">
  <input type="submit" name="submit" value="Sign Up">
</form>
<br>
<br>
<br>
<br>
<br>
<br>
</div>

<img src="https://scontent.fatl1-2.fna.fbcdn.net/v/t1.6435-9/55465036_1150928941745707_700376314049200128_n.jpg?_nc_cat=104&ccb=1-3&_nc_sid=e3f864&_nc_ohc=TZBjWRUjJ3MAX8lJw3U&_nc_ht=scontent.fatl1-2.fna&oh=0372ee5b22abe1989030fc92f6917bc8&oe=60AC2CCA">