<!DOCTYPE html>
 <html> 
  <head>
    <title>WhatsOnYourFeet</title>
    <style>

        .collection{
            background-color: #000000;
            border-radius: 25px 
        }

        h1{
            text-align: center;
            color: #FFFFFF;
            border-bottom-style: solid;
            border-color: #FFFFFF;
        }

        form,p{
            text-align: center;
            color: #FFFFFF;
        }

        img{ 
            padding-left: 45px;
        }

    </style>
<div class="collection">
<h1><%=current_user.username%>'s Sneaker Collection</h1>
<% @sneakers.each do |shoe| %>
<p><b><u><%=  shoe.brand + " " + shoe.name %></p></b></u>
  <form action="/collection/<%=shoe.id%>">
        <input type="submit" value="Open">
    </form>
    <br>
    <br>
<%end%>

<br>


<form action="/collection/new">
    <input type="submit" name="submit" value="Add New Kicks" id="submit">
</form>
<br>
<form action="/logout">
    <input type="submit" name="submit" value="Log Out" id="submit">
</form>
</div>
<br>
<img src="https://media.giphy.com/media/g07YTS194tid1AyIG7/giphy.gif">
<img src="https://media.giphy.com/media/g07YTS194tid1AyIG7/giphy.gif">
<img src="https://media.giphy.com/media/g07YTS194tid1AyIG7/giphy.gif">