<!DOCTYPE html>
 <html> 
  <head>
    <title>WhatsOnYourFeet</title>
    <style>
      h1{
          font-size: 36px;
          text-align: center;
          color: #FFFFFF;
          border-bottom-style: solid;
          border-color: #FFFFFF;
      }

      .form {
          background-color: #000000;
          border-radius: 25px;
    }

    form {
          text-align: center;
          color: #FFFFFF;
    }

    img{
          width: 30%;
          padding-left: 30px;
    }

    </style>
</head>
<body>

<div class="form">
<form action="/collection" method="post">
  
  <h1>Just copped a pair of fresh kicks?  Add them here!</h1>

  <label><b>Brand:</b></label>
  <input type="text" id="brand" name="brand" placeholder="ex. Nike" required>
  <br>
  <br>
  <label><b>Name:</b></label>
  <input type="text" id="name" name="name" placeholder="ex. Air Force 1" required>
  <br>
  <br>
  <label><b>Colorway:</b></label>
  <input type="text" id="colorway" name="colorway" placeholder="ex. white/black/red" required>
  <br>
  <br>
  <label><b>Purchase Date:</b></label>
  <input type="text" id="purchase_date" name="purchase_date" placeholder="YYYY-MM-DD" required>
  <br>
  <br>
  <label><b>Price: $</b></label>
  <input type="text" id="price" name="price" placeholder="ex. 130.00"required>
  <br>
  <br>

<input type="submit" name="submit" value="Add my kicks" id="submit" >
</form>
<br>
<form action='/collection'>
      <input type="submit" value="Go Back To Your Kicks">
</form>
</div>
<br>
<img src="https://media.giphy.com/media/a37TRhVACUhpVsuFwE/giphy.gif">
<img src="https://media.giphy.com/media/a37TRhVACUhpVsuFwE/giphy.gif">
<img src="https://media.giphy.com/media/a37TRhVACUhpVsuFwE/giphy.gif">
</body>
</html>