<form action="/collection" method="post">
  
  <h2>Just copped a pair of fresh kicks?  Add them here!</h2>

  <label>Brand:</label>
  <input type="text" id="brand" name="brand" placeholder="ex. Nike" >

  <label>Name:</label>
  <input type="text" id="name" name="name" placeholder="ex. Air Force 1">

  <label>Colorway:</label>
  <input type="text" id="colorway" name="colorway" placeholder="ex. white/black/red">

  <label>Purchase Date:</label>
  <input type="text" id="purchase_date" name="purchase_date" placeholder="YYYY-MM-DD">

  <label>Price: $</label>
  <input type="text" id="price" name="price" placeholder="ex. 130.00">


<input type="submit" name="submit" value="Add my kicks" id="submit" >
</form>